In [12]:
#Import Modul Cashier yang sudah dibuat sebelumnya
import cashier as c

In [13]:
#Inisialisasi kelas untuk membuat new transaction sesuai dengan ID Object
Transaction = c.Transaction()

Test Case #1 : Menambah Item

In [15]:
#Penambahan item dengan urutan penulisan NamaItem, JumlahItem, HargaItem
Transaction.add_item("Sushi", 15, 25000)
Transaction.add_item("Soy Sauce", 15, 2000)
Transaction.check_order()

Menambahkan ke dalam list pesanan : Sushi dengan jumlah 15 seharga Rp 25000.
Menambahkan ke dalam list pesanan : Soy Sauce dengan jumlah 15 seharga Rp 2000.
| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Sushi       |            15 |        25000 |        375000 |
| Soy Sauce   |            15 |         2000 |         30000 |
Pemesanan sudah benar.

Test Case #2 : Menghapus item

In [16]:
#Menghapus item Soy Sauce dari list pembelian dikarenakan salah barang
Transaction.delete_item("Soy Sauce")

Menghapus pesanan Soy Sauce.

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Sushi       |            15 |        25000 |        375000 |

Test Case #3 : Menghapus seluruh pesanan

In [17]:
#Menghapus seluruh item pada list tanpa terkecuali
Transaction.reset_transaction()

Semua item pada pesanan berhasil dihapus, silahkan melakukan input order kembali.

Test Case #4 : Menghitung total belanja yang harus dibayarkan dan mencek jumlah diskon sesuai program

In [18]:
#Melakukan perhitungan total belanjaan yang sudah dimasukan sekaligus melakukan cek mengenai program diskon yang sedang berlangsung
Transaction = c.Transaction()
Transaction.add_item("Sushi", 15, 25000)
Transaction.add_item("Ramen", 12, 27000)
Transaction.add_item("Sashimi", 5, 45000)
Transaction.check_order()

Menambahkan ke dalam list pesanan : Sushi dengan jumlah 15 seharga Rp 25000.
Menambahkan ke dalam list pesanan : Ramen dengan jumlah 12 seharga Rp 27000.
Menambahkan ke dalam list pesanan : Sashimi dengan jumlah 5 seharga Rp 45000.
| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Sushi       |            15 |        25000 |        375000 |
| Ramen       |            12 |        27000 |        324000 |
| Sashimi     |             5 |        45000 |        225000 |
Pemesanan sudah benar.

In [19]:
Transaction.total_price()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Sushi       |            15 |        25000 |        375000 |
| Ramen       |            12 |        27000 |        324000 |
| Sashimi     |             5 |        45000 |        225000 |
Pemesanan sudah benar.
Selamat anda mendapatkan diskon 10% sebesar Rp 92400. Total belanja Anda adalah Rp 831600 (include diskon).

Test Case #5 : Mengupdate item name, jumlah item, harga item (tambahan)

In [20]:
Transaction.update_item_name("Sushi", "Sushi Hiro")

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ramen       |            12 |        27000 |        324000 |
| Sashimi     |             5 |        45000 |        225000 |
| Sushi Hiro  |            15 |        25000 |        375000 |
Mengubah nama item Sushi menjadi Sushi Hiro.

In [21]:
Transaction.update_item_qty("Ramen", 10)

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ramen       |            10 |        27000 |        270000 |
| Sashimi     |             5 |        45000 |        225000 |
| Sushi Hiro  |            15 |        25000 |        375000 |
Mengubah jumlah item Ramen menjadi 10.

In [22]:
Transaction.update_item_price("Sashimi", 40000)

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ramen       |            10 |        27000 |        270000 |
| Sashimi     |             5 |        40000 |        200000 |
| Sushi Hiro  |            15 |        25000 |        375000 |
Mengubah harga item Sashimi menjadi 40000.

In [23]:
Transaction.total_price()

| Nama Item   |   Jumlah Item |   Harga/Item |   Total Harga |
|-------------|---------------|--------------|---------------|
| Ramen       |            10 |        27000 |        270000 |
| Sashimi     |             5 |        40000 |        200000 |
| Sushi Hiro  |            15 |        25000 |        375000 |
Pemesanan sudah benar.
Selamat anda mendapatkan diskon 10% sebesar Rp 84500. Total belanja Anda adalah Rp 760500 (include diskon).